/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

@import url("mobile.css") (max-width: 767px);
@import url("desktop_tablet.css") (min-width: 768px);

* {margin: 0; padding: 0; }

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */
@font-face {
  font-family: 'league gothic';
  src: url('../fonts/LeagueGothic.otf');
}
@font-face {
  font-family: 'Pigeon';
  src: url('../fonts/Pigeon.otf');
}
@font-face {
  font-family: 'Geared Slab Light';
  src: url('../fonts/GearedSlab-Light.ttf');
}

h1 {

}

h2, h3 {
  font-family: "league gothic", helvetica;
  text-transform: uppercase;
  text-align: center;
}

h2 { font-size: 3em; }
h3 { font-size: 2em; margin: 1em; }

p {
  font-size: .85em;
  /* font-family: "Pigeon"; */
  font-family: "Roboto Slab", Helvetica;
  }

a { color: #75B3D1; text-decoration:none; }

ol, ul, li {list-style-type:none;}

.clear {clear:both; width:100%;}

#hero_container{
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0;
  width: 100%;
}
#content_container{
  width:100%;
  float: left;
}
#content_container h2{
  text-align: center;
}

#hero_container h1{
  background-image: url("../img/BCC_white.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-top: 0;
  text-indent: -9000px;
  position: absolute;
  width: 300px;
  height: 300px;
  left:50%;
  margin-left: -150px;
}

#hero_container #partnerlogos {
  position: absolute;
  width: 300px;
  height: 200px;
  left:50%;
  margin-left: -150px;
}

#hero_container #partnerlogos a {
  width: 50%;
  float: left;
  display: block;
}

#hero_container #partnerlogos a:nth-of-type(2) {
  margin-top: 20px;
}

#hero_container #partnerlogos a img {
  width: 100%;
}


#intro_container {
  background: #333;
  color: #ededed;
  float: left;
  width:100%;
  /*
  background: #9D343D;
  color: #D98C9A;
  */
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

#intro_copy {
  float: left;
  display: block;
}

#intro_copy p a {
}

#intro_container p {
  /* font-size: 2em; */
  font-family: "Roboto Slab", Helvetica;
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
  text-align: justify;
}

#img_container {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

#sprintdemo{
  margin: 0 auto;
  width:50%;
  height:100px;
  position: relative;
  top: -200px;
}
#sprint{
  font-size: 2em;
  float: left;
  display: inline-block;
  margin-top: 13%;


}
#demo{
  font-size: 2em;
  float:right;
  display: inline-block;
  margin-top: 13%;
  margin-right: 3%;

}
#txt_container{
  width:100%;
}

#close_container{
  width:100%;
}
#gap{
  width:100%;
  height:80%;
  background-color: #CCCCCC;
  margin: 0 auto;
  position:relative;
}
#gap h1{
  text-align:center;
  position:relative;
  top:20%;
}
#gap p{
  width:70%;
  text-align:left;
  position:relative;
  top:20%;
  margin: 0 auto;
}
#sponsors{
  max-width:400px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
}

#sponsors a img {
  width:100%;
  max-width: 100px;
}
#microsoftLogo{
  background-image: url("../img/microsoftLogo.jpeg");
  background-size: 75% 60%;
  background-repeat: no-repeat;
  background-position: center;
  width: 29%;
  height:25%;
  margin-top: 5%; margin-left: 6.5%;
  display: inline-block;
}
#logoskull{
  background-image: url("../img/logoskull.png");
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 28%;
  height:35%;
  margin-top: 5%;
  display: inline-block;
}
#ypp{
  background-image: url("../img/ypp.jpg");
  background-size: 80% 70%;
  background-repeat: no-repeat;
  background-position: left bottom;
  width: 29%;
  height:50%;
  margin-top: 5%; margin-right:4.5%;
  display: inline-block;
}

#footerphotocredits {
  width: 100%;
}
#footerphotocredits {
  padding: 80px 0;
  text-align: center;
  float: left;
}

#footercredits h2 { font-size: 2em; }

#footer {
  float: left;
  width: 100%;
  border-top: 1px solid #ededed;
  padding: 20px 0;
  text-align: center;
  font-size: .55em;
}

/* ==========================================================================
Nav
========================================================================== */

#nav {
  position: fixed;
  top:20px;
  left: 20px;
  float: left;
  width: 100%;
  z-index: 100;
}

#nav li a {
  font-family: "league gothic", helvetica;
  text-transform: uppercase;
  font-size: 1.2em;
  display: inline-block;
  float: left;
  padding: 4px 8px;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
  border-left: none;
  background: #fff;
}

#nav li:first-child a {
  background: #222;
  color: #fff;
  border-left: 4px solid #fff;
}

#nav li a:hover,
#nav li:first-child a:hover {
  background: #75B3D1;
  color: white;
  transition: all 0.4s ease 0.0s;
    -moz-transition: all 0.4s ease 0.0s;
    -webkit-transition: all 0.4s ease 0.0s;
    -o-transition: all 0.4s ease 0.0s;
    -ms-transition: all 0.4s ease 0.0s;
}


/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers:
* http://juicystudio.com/article/screen-readers-display-none.php
*/

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
    http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
  * Don't show links that are fragment identifiers,
  * or use the `javascript:` pseudo protocol
  */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
  * Printing Tables:
  * http://css-discuss.incutio.com/wiki/Printing_Tables
  */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
